# Entorno virtual
venv/

# Archivos compilados
*.pyc
**/__pycache__/
Py-Installer.json


# Archivos de PyInstaller
*.spec
dist/
build/

# Configuración local 
*.log
.env
.vscode/
Afip/cache
*.code-workspace
*.pdf
*.xlsx
*.bak